{% extends "list/base.html" %}

{% block content %}
<p><a href="new/"><button>Add new</button></a></p>

	{% for shoppinglist in object_list %}
		{% if shoppinglist.done != True %}
			<hr>
			<p>{{ shoppinglist.date }}</p>
			<p><b><a href="{{ shoppinglist.get_absolute_url  }}">{{ shoppinglist.shop }}</a></b></p>
			{% for item in shoppinglist.shop_items_better_list %}
				{{ item }}<br>
			{% endfor %}
			<p>{{ shoppinglist.shopper|capfirst }}</p>
			<hr>
		{% endif %}
	{% endfor %}

	<h2>Old lists</h2>
	{% for shoppinglist in object_list %}
		{% if shoppinglist.done == True %}
			<hr>
			<p>{{ shoppinglist.date }}</p>
			<p><b><a href="{{ shoppinglist.get_absolute_url  }}">{{ shoppinglist.shop }}</a></b></p>
			<del>
			{% for item in shoppinglist.shop_items_better_list %}
				{{ item }}<br>
			{% endfor %}
			</del>
			<p>{{ shoppinglist.shopper|capfirst }}</p>
			<hr>
		{% endif %}
	{% endfor %}
	
{% endblock content %}
